@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h4>Swordfish:</h4>
<h5>The most dysfunctional family since the simpsons</h5>

<p> Swordfish is a team of uni-ethnic, like-minded, uni-culteral
    people, some of which may actually be racist, and/or homophobic.
    Build-A-Better-Bot was created for the express purpose of getting
    a grade, and we couldn't care less about making the world a better place
</p>
