@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University of Cincinnati<br />
    Nolan is gay<br />
    <abbr title="Phone">P:</abbr>
    1-800-267-2001
</address>

<address>
    <strong>Support:</strong> <a href="jmadjacob1@gmail.com">Support@example.com</a><br />
    <strong>"God of HTML":</strong> <a href="shustema@mail.uc.edu">Marketing@example.com</a>
</address>
